{% extends "base.html" %}


{% block title %}
Subscribe
{% endblock title %}

{% block breadcrumb %}
<section id="insuronbreadcrumb" class="insuronbreadcrumb">
            <div class="bcoverlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="Content">
                            <h2>
                                Subscribe
                            </h2>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'profile' pk=object.id %}">Profile</a>
                                    </li>
                                      <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'subscription_new' %}">Subscribe</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
{% endblock breadcrumb %}

{% block content %}



{% block body %}

{% endblock body %}
{%endblock content %}

{% block extra-js %}

{% endblock extra-js %}