{% extends "base.html" %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% load crispy_forms_tags %}


{% block title %}
Plan
{% endblock title %}

{% comment %}
{% block header %}
{% endblock header %}
{% endcomment %}

{% block footer %}
{% endblock footer %}

{% block content %}

<section id="insuronbreadcrumb" class="insuronbreadcrumb">
            <div class="bcoverlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="Content">
                            <h2>
                                Subscribe
                            </h2>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'profile' pk=object.id %}">Profile</a>
                                    </li>
                                      <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="#">Subscribe</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        
    <!--  BreadCrumb Area Start  -->

<!-- SignUP Area Start -->
<section class="logRegForm"> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                        <div class="contact_form_wrappre2">
                            <h2>
                                Subscribe
                            </h2>
                                <form action="" method="post">{% csrf_token %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                        <div class="inputArea">
                                        {{ form|crispy }}
                                        </div>
                                            <button class="loginnow" type="submit">Save Payment</button>

                                         {% comment %} {% for fld in form.visible_fields %}
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div><label for="{{fld.id_for_label}}">{{fld.label}}</label></div>
                                                        <div class="input-group">
                                                            {% if fld.errors %}
                                                                <div class="alert alert-danger">
                                                                    {{fld.errors}}
                                                                </div>
                                                            {% endif %}
                                                            {{fld|add_class:"form-control"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %} {% endcomment %}
                                        {% comment "" %}

                                            <div class="form-row">
                                                <div class="col">
                                                        <div><label>Payment Date</label></div>
                                                    <div class="input-group">
                                                        {% if form.payment_date.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.payment_date.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.payment_date class+="form-control" %}
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-calendar"></i>
                                                            </span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col">
                                                        <div><label>Payment Type</label></div>
                                                    <div class="input-group">
                                                        {% if form.payment_type.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.payment_type.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.payment_type class+="form-control" %}
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-list"></i>
                                                            </span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>

                                              <div class="form-row">
                                                <div class="col">
                                                        <div><label>Amount</label></div>
                                                    <div class="input-group">
                                                        {% if form.amount.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.amount.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.amount class+="form-control" %}
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-credit-card"></i>
                                                            </span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>

                                               <div class="form-row">
                                                <div class="col">
                                                        <div><label>Bank</label></div>
                                                    <div class="input-group">
                                                        {% if form.bank.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.bank.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.bank class+="form-control" %}
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-university"></i>
                                                            </span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>

                                             <div class="form-row">
                                                <div class="col">
                                                        <div><label>Name</label></div>
                                                    <div class="input-group">
                                                        {% if form.name.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.name.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.name class+="form-control" %}
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-user"></i>
                                                            </span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>
                                        {% endcomment %}

                                        </div>
                                        
                                        {% comment %} <div class="inputArea">
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <button class="loginnow" type="submit">Save Payment</button>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                    </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SignUp Area End -->
    

  {% endblock content %}

  {% block extra-js %}
    <script type="text/javascript">
    $('#id_username').addClass('form-control');
    $('#id_username').attr('placeholder', 'Username');

    // glyphicon

    $('#id_password').addClass('form-control');
    $('#id_password').attr('placeholder', 'Password');

    $('.nav-link').removeClass('active')
    $('#profile-nav-link').addClass('active')
    </script>
{% endblock extra-js %}