[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
fabric = "*"
django-baton = "*"
ipython = "*"
pillow = "*"
django-widget-tweaks = "*"
requests = "*"
"psycopg2" = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
requests-mock = "*"
model-bakery = "*"
django-hashid-field = "*"


[dev-packages]
