[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fabric = "*"
django-baton = "*"
ipython = "*"
pillow = "*"
django-widget-tweaks = "*"
requests = "*"
"psycopg2" = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
requests-mock = "*"
model-bakery = "*"
django-hashid-field = "*"
django-post-office = "*"
postmarker = "*"
django-debug-toolbar = "*"
python-dateutil = "*"
django-crispy-forms = "*"
pycryptodome = "*"
django-constance = { extras = [ "database",] }
django = "==2.2.8"
django-easy-audit = "*"
django-ratelimit = "*"


[dev-packages]
