<h1>Welcome, {{ name }}!</h1>
<p>You have been registered as a provider on futurecare. We’re thrilled to have you on board. To start using Futurecare,
    click the
    button below to login:</p>
<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td bgcolor="#9fde50" style="padding: 12px 18px 12px 18px; border-radius:3px"
                                    align="center">
                                    <a href="https://futurecare.ng/client/login/" class="button button--"
                                       target="_blank"
                                       style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">Login
                                        to your account</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p>For reference, here's your login information:</p>
<table class="attributes" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="attributes_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="attributes_item"><strong>Login Page:</strong> https://futurecare.ng/client/login/</td>
                </tr>
                <tr>
                    <td class="attributes_item"><strong>Username:</strong> {{ username }}</td>
                </tr>
                <tr>
                    <td class="attributes_item"><strong>Default password:</strong> {{ password }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p><b>Kindly note that you'd be required to change the default password on first login.</b></p><br>
<p>If you have any questions, please, <a href="mailto:gaapvwh@yahoo.com;rabiuayo@yahoo.com;edoks2000@yahoo.com">email
    our Customer Service Team</a>.</p>
<p>Thank you,
    <br>TouchSmart Team</p>
<p><strong>P.S.</strong> Need immediate help getting started? Just send an email to <a
        href="mailto:gaapvwh@yahoo.com;rabiuayo@yahoo.com;edoks2000@yahoo.com">Click this link to Contact Us via
    Email<br/></a> or call +234 803 633 9696, +234 813 862 883, +234 809933 3614. TouchSmart support team is always
    ready to help!</p>
<!-- Sub copy -->
<table class="body-sub">
    <tr>
        <td>
            <p class="sub">If you’re having trouble with the button above, copy and paste the URL below into your web
                browser.</p>
            <p class="sub">https://futurecare.ng/client/login/</p>
        </td>
    </tr>
</table>