{% load staticfiles %}

    <!--Start Slider Area-->
    <section id="slider-area" class="slider-area">
        <div class="overlay"></div>
        <!--Start Slider-->
        <div class="silder owl-carousel">
            <!--Start Slide Item-->
            <div class="slide-item" style="background-image: url({% static 'img/banner3.jpg' %})">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                                <div class="slide-caption">
                                        <div class="slider-inner">
                                            <div class="innerSize">
                                                <h1 class="caption-title">Insurances Do Matter</h1>
                                                <p class="caption-desc">
                                                    When an unknown printer took a galley of type and scrambled it to make a
                                                    type specimen book. It has survived not only five centuries, but also the
                                                    leap into electronic typesetting, remaining essentially unchanged.
                                                </p>
                                                <div class="slide-btn">
                                                    <a class="mybtn" href="#about">Learn More</a>
                                                        <a class="venobox video-icon-btn" data-vbtype="video" data-autoplay="true" href="http://vimeo.com/75976293">
                                                            <i class="fa fa-play"></i><span>Intro Video</span>
                                                        </a>
                                                        <!-- <p class="videoText"></p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Slide Item-->

            <!--Start Slide Item-->
            <div class="slide-item" style="background-image: url({% static 'img/banner7.jpg' %})">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                                <div class="slide-caption">
                                        <div class="slider-inner">
                                            <div class="innerSize">
                                                <h1 class="caption-title">Insurances Do Matter</h1>
                                                <p class="caption-desc">
                                                    When an unknown printer took a galley of type and scrambled it to make a
                                                    type specimen book. It has survived not only five centuries, but also the
                                                    leap into electronic typesetting, remaining essentially unchanged.
                                                </p>
                                                <div class="slide-btn">
                                                    <a class="mybtn" href="#about">Learn More</a>
                                                    <a class="venobox video-icon-btn" data-vbtype="video" data-autoplay="true" href="http://vimeo.com/75976293">
                                                        <i class="fa fa-play"></i><span>INTRO VIDEO</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Slide Item-->
        </div>
        <!--End Slider-->
    </section>
    <!--End Slider Area-->
{% comment %}
    <!--Start Slider Area-->
    <section id="slider-area" class="slider-area">
        <!--<div class="overlay"></div>-->
        <!--Start Slider owl-carousel-->
        <div class="silder">
            <!--Start Slide Item-->
            <div class="slide-item" style="background-image: url({% static 'img/banner8.jpg' %})">
                <div class="overlay"></div><!-- -->

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                                <div class="slide-caption">
                                        <div class="slider-inner">
                                            <div class="innerSize">
                                                <h1 class="caption-title">Insurances Do Matter</h1>
                                                <p class="caption-desc">
                                                    When an unknown printer took a galley of type and scrambled it to make a
                                                    type specimen book. It has survived not only five centuries, but also the
                                                    leap into electronic typesetting, remaining essentially unchanged.
                                                </p>
                                                <div class="slide-btn">
                                                    <a class="mybtn" href="#about">Learn More</a>
                                                        <a class="venobox video-icon-btn" data-vbtype="video" data-autoplay="true" href="http://vimeo.com/75976293">
                                                            <i class="fa fa-play"></i><span>Intro Video</span>
                                                        </a>
                                                        <!-- <p class="videoText"></p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Slide Item-->

            <!--Start Slide Item-->
            <!--End Slide Item-->
        </div>
        <!--End Slider-->
    </section>
    <!--End Slider Area-->
{% endcomment %}

    <!-- Services Area Start -->
    <section id="service" class="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sectionHeader">
                        <h2>
                            Our Services
                        </h2>
                        
                        <p>
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            the book type of spaciman and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="left">
                            <i class="pe-7s-like"></i>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h5>
                                        LASHMA
                                </h5>
                                <p>
                                        When an unknown printer to hello to say
                                        type and scrambled it make me happy and i love this.
                                </p>
                                <a href="lifeInsurance.html">
                                        <i class="fas fa-caret-right"></i>
                                        Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="left">
                            <i class="pe-7s-like"></i>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h5>
                                        LASHMA Quality Life
                                </h5>
                                <p>
                                        When an unknown printer to hello to say
                                        type and scrambled it make me happy and i love this.
                                </p>
                                <a href="lifeInsurance.html">
                                        <i class="fas fa-caret-right"></i>
                                        Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "" %}
                
                <div class="col-md-6">
                    <div class="box">
                        <div class="left">
                            <i class="pe-7s-like"></i>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h5>
                                        Life insurance
                                </h5>
                                <p>
                                        When an unknown printer to hello to say
                                        type and scrambled it make me happy and i love this.
                                </p>
                                <a href="lifeInsurance.html">
                                        <i class="fas fa-caret-right"></i>
                                        Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="left">
                            <i class="pe-7s-rocket"></i>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h5>
                                        Travel insurance
                                </h5>
                                <p>
                                        When an unknown printer to hello to say
                                        type and scrambled it make me happy and i love this.
                                </p>
                                <a href="lifeInsurance.html">
                                        <i class="fas fa-caret-right"></i>
                                        Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endcomment %}

            </div>
        </div>
    </section>
    <!-- Services Area End -->

<!-- Give And Take NumberSection Start -->
<section id="giveAndtakeNumber" class="giveAndtakeNumber">
    <div class="sectionOverlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sectionHeader">
                            <h2>
                                    Take care of your family
                            </h2>
                            
                            <p>
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                the book type of spaciman and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10">
                <div class="content">
                    <div class="bottomContent">
                            <div class="numberFormArea">
                                    <div class="numberForm">
                                        <form action="#">
                                                <input class="postNumber" type="text" placeholder="Your Name">
                                                <button type="submit" class="submitButton">
                                                    <i class="fas fa-paper-plane"></i>
                                                </button>
                                        </form>
                                    </div>
                                        <a href="#" class="companyNumber">
                                            <i class="fas fa-phone"></i>    
                                            +00 88 99 11 22
                                        </a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
<!-- Give And Take NumberSection End -->
{% comment %}

<!-- History Section Area Start -->
    <section id="history" class="history">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="sectionHeader">
                        <h2>
                            Our History
                        </h2>
                        
                        <p>
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            the book type of spaciman and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="v-box">
                        <img class="img-fluid" src="img/history.jpg" alt="">
                        <a class="venobox" data-vbtype="video" data-autoplay="true" href="http://youtu.be/d85gkOXeXG4">
                            <i class="fas fa-play"></i>
                        </a>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="historyBox">
                        <ul>
                            <li>
                                <div class="content">
                                    <div class="left">
                                        <span></span>
                                    </div>
                                    <div class="right">
                                        <a href="#">
                                                2015 - Start Story
                                        </a>
                                        <p>
                                                When an unknown printer took a galley of type and scrambled it to make a
                                                type specimen book. It has survived not only five centuries
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <div class="left">
                                        <span></span>
                                    </div>
                                    <div class="right">
                                        <a href="#">
                                                2016 - 7+ Awards
                                        </a>
                                        <p>
                                                When an unknown printer took a galley of type and scrambled it to make a
                                                type specimen book. It has survived not only five centuries
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <div class="left">
                                        <span></span>
                                    </div>
                                    <div class="right">
                                        <a href="#">
                                                2017 - 9M Holders
                                        </a>
                                        <p>
                                                When an unknown printer took a galley of type and scrambled it to make a
                                                type specimen book. It has survived not only five centuries
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <div class="left">
                                        <span></span>
                                    </div>
                                    <div class="right">
                                        <a href="#">
                                                2019 - 18 Records
                                        </a>
                                        <p>
                                                When an unknown printer took a galley of type and scrambled it to make a
                                                type specimen book. It has survived not only five centuries
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <div class="left">
                                        <span></span>
                                    </div>
                                    <div class="right">
                                        <a href="#">
                                            2019 - 8+ Awards
                                        </a>
                                        <p>
                                                When an unknown printer took a galley of type and scrambled it to make a
                                                type specimen book. It has survived not only five centuries
                                        </p>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </section>
<!-- History Section Area End -->



<!-- Testimonial Area Start -->
    <section id="testimonial" class="testimonial">
        <div class="container">
                <div class="row justify-content-between">
                        <div class="col-lg-5">
                            <div class="testimonialSlider owl-carousel">
                                <div class="single-testimonials">
                                    <img src="{% static 'img/testimonial/testi-icon-1.png' %}" class="testi-icon" alt="Awesome Image">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                    <div class="name-box-wrapper">
                                        <div class="img-box">
                                            <img src="{% static 'img/testimonial/reviewr1.jpg' %}" alt="Awesome Image">
                                        </div>
                                        <div class="text-box">
                                            <h4>Hailey Olkowski</h4>
                                            <span>uihub, ui/ux designer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonials">
                                    <img src="img/testimonial/testi-icon-1.png" class="testi-icon" alt="Awesome Image">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                    <div class="name-box-wrapper">
                                        <div class="img-box">
                                            <img src="{% static 'img/testimonial/reviewr2.jpg' %}" alt="Awesome Image">
                                        </div>
                                        <div class="text-box">
                                            <h4>Benny Talone</h4>
                                            <span>uihub, ui/ux designer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonials">
                                    <img src="{% static 'img/testimonial/testi-icon-1.png' %}" class="testi-icon" alt="Awesome Image">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                    <div class="name-box-wrapper">
                                        <div class="img-box">
                                            <img src="{% static 'img/testimonial/reviewr3.jpg' %}" alt="Awesome Image">
                                        </div>
                                        <div class="text-box">
                                            <h4>Rigoberto Sweat</h4>
                                            <span>uihub, ui/ux designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row partner-logo-wrapper">
                                <div class="col-4 remove-col-padding partner-logos">
                                        <div class="single-logo-item"><!-- single logo item -->
                                                <a href="#">
                                                        <img class="img-fluid" src="img/patner/patner1.png" alt="partner image">
                                                </a>
                                        </div><!-- //.single logo item -->
                                </div>
                                <div class="col-4 remove-col-padding partner-logos">
                                        <div class="single-logo-item"><!-- single logo item -->
                                                <a href="#">
                                                        <img class="img-fluid" src="img/patner/patner2.png" alt="partner image">
                                                </a>
                                        </div><!-- //.single logo item -->
                                </div>
                                <div class="col-4  remove-col-padding partner-logos">
                                        <div class="single-logo-item"><!-- single logo item -->
                                                <a href="#">
                                                        <img class="img-fluid" src="img/patner/patner3.png" alt="partner image">
                                                </a>
                                        </div><!-- //.single logo item -->
                                </div>
                    </div>
                    <div class="row partner-logo-wrapper">
                            <div class="col-4 remove-col-padding partner-logos">
                                    <div class="single-logo-item"><!-- single logo item -->
                                            <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/patner/patner4.png' %}" alt="partner image">
                                            </a>
                                    </div><!-- //.single logo item -->
                            </div>
                            <div class="col-4 remove-col-padding partner-logos">
                                    <div class="single-logo-item"><!-- single logo item -->
                                            <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/patner/patner5.png' %}" alt="partner image">
                                            </a>
                                    </div><!-- //.single logo item -->
                            </div>
                            <div class="col-4 remove-col-padding partner-logos">
                                    <div class="single-logo-item"><!-- single logo item -->
                                            <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/patner/patner6.png' %}" alt="partner image">
                                            </a>
                                    </div><!-- //.single logo item -->
                            </div>
                    </div>
                        </div>
                </div>
        </div>
    </section>
<!-- Testimonial Area End -->

    <!-- Counter Area Start -->
    <section id="counter" class="counter">
        <div class="container">
            <div class="row">
                <div class=" col-md-6 col-xl-3">
                    <div class="c-box">
                        <span class="count">1000</span><sup>+</sup>
                        <h3>Satisfy Clients</h3>
                    </div>
                </div>
                <div class=" col-md-6 col-xl-3">
                    <div class="c-box">
                        <span class="count">300</span><sup>+</sup>
                        <h3>Winning Awards</h3>
                    </div>
                </div>
                <div class=" col-md-6 col-xl-3">
                    <div class="c-box">
                        <span class="count">9999</span><sup>+</sup>
                        <h3>Lines Of Coding</h3>
                    </div>
                </div>
                <div class=" col-md-6 col-xl-3">
                    <div class="c-box">
                        <span class="count">2000</span><sup>+</sup>
                        <h3>Total Users</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Area End --> 
{% endcomment %}
