{% extends "base.html" %}
{% load widget_tweaks %}


{% block title %}
Plan
{% endblock title %}

{% comment %}
{% block header %}
{% endblock header %}
{% endcomment %}

{% block footer %}
{% endblock footer %}

{% block content %}

<section id="insuronbreadcrumb" class="insuronbreadcrumb">
            <div class="bcoverlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="Content">
                            <h2>
                                Make Payment
                            </h2>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'profile' pk=object.id %}">Profile</a>
                                    </li>
                                      <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="#">Make Payment</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        
    <!--  BreadCrumb Area Start  -->

<!-- SignUP Area Start -->
<section class="logRegForm"> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                        <div class="contact_form_wrappre2">
                            <h2>
                                Make Payment
                            </h2>
                                <form action="" method="post">{% csrf_token %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                        {% comment %} <div class="inputArea">
                                            <div class="form-row">
                                                <div class="col">
                                                        <div><label>Package Option</label></div>
                                                    
                                                    <div class="input-group">
                                                        {% if form.package_option.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.package_option.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.package_option class+="form-control" %}
                                                         <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-list"></i>
                                                            </span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}
                                             <div class="inputArea">
                                           
                                         
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <button class="loginnow" type="submit">Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SignUp Area End -->
    

  {% endblock content %}

  {% block extra-js %}
    <script type="text/javascript">
    $('#id_username').addClass('form-control');
    $('#id_username').attr('placeholder', 'Username');

    // glyphicon

    $('#id_password').addClass('form-control');
    $('#id_password').attr('placeholder', 'Password');

    $('.nav-link').removeClass('active')
    $('#profile-nav-link').addClass('active')
    </script>
{% endblock extra-js %}