{% extends "base.html" %}
{% load widget_tweaks %}


{% block title %}
Provider
{% endblock title %}

{% comment %}
{% block header %}
{% endblock header %}
{% endcomment %}

{% block footer %}
{% endblock footer %}

{% block content %}

<section id="insuronbreadcrumb" class="insuronbreadcrumb">
            <div class="bcoverlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="Content">
                            <h2>
                                Primary Care Provider
                            </h2>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'profile' pk=object.id %}">Profile</a>
                                    </li>
                                      <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="#">Primary Care Provider</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        
    <!--  BreadCrumb Area Start  -->

<!-- SignUP Area Start -->
<section class="logRegForm"> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                        <div class="contact_form_wrappre2">
                            <h2>
                                Primary Care Provider
                            </h2>
                                <form action="" method="post">{% csrf_token %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                        <div class="inputArea">

                                         <div class="form-row">
                                                <div class="col">
                                                        <div><label>Local Govt</label></div>
                                                    
                                                    <div class="input-group">
                                                        {% if form.lga.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.lga.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.lga class+="form-control" %}
                                                         {% comment %} <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-building"></i>
                                                            </span>
                                                        </div> {% endcomment %}
        
                                                    </div>
                                                </div>
                                            </div>
                               

                                            <div class="form-row">
                                                <div class="col">
                                                        <div><label>Primary Care Provider</label></div>
                                                    
                                                    <div class="input-group">
                                                        {% if form.pcp.errors %}
                                                            <div class="alert alert-danger">
                                                                {{ form.pcp.errors }}
                                                            </div>
                                                        {% endif %}
                                                        {% render_field form.pcp class+="form-control" %}
                                                         {% comment %} <div class="input-group-prepend">
                                                            <span class="input-group-text" id="Site">
                                                                <i class="fas fa-building"></i>
                                                            </span>
                                                        </div> {% endcomment %}
        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <button class="loginnow" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SignUp Area End -->
    

  {% endblock content %}

  {% block extra-js %}
    <script type="text/javascript">
    $('#id_username').addClass('form-control');
    $('#id_username').attr('placeholder', 'Username');

    // glyphicon

    $('#id_password').addClass('form-control');
    $('#id_password').attr('placeholder', 'Password');

    $('.nav-link').removeClass('active')
    $('#profile-nav-link').addClass('active')

    $("#id_lga").change(function () {
      var lgaId = $(this).val();  // get the selected country ID from the HTML input

      var url = '/client/load_pcp_list/?lga=' + lgaId   // get the url of the `load_cities` view
      console.log(url)
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'lga_id': lgaId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_pcp").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    </script>
{% endblock extra-js %}