{% extends "base.html" %}



{% block title %}
Remove dependant
{% endblock title %}

{% comment %}
{% block header %}
{% endblock header %}
{% endcomment %}

{% block footer %}
{% endblock footer %}

{% block content %}

<section id="insuronbreadcrumb" class="insuronbreadcrumb">
            <div class="bcoverlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="Content">
                            <h2>
                                Remove Dependant
                            </h2>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'profile' pk=object.id %}">Profile</a>
                                    </li>
                                      <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="{% url 'profile_dependants' pk=object.id %}">Dependants</a>
                                    </li>
                                      <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a class="active" href="#">Remove Dependant</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        
    <!--  BreadCrumb Area Start  -->

<!-- SignUP Area Start -->
<section class="logRegForm"> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                        <div class="contact_form_wrappre2">
                            <h2>
                                Remove Dependant
                            </h2>
                                <form action="" method="post">{% csrf_token %}
                              

                                   {% comment %} <div class="inputArea">
                                    {{ form|crispy }}
                                </div>
                                <button class="loginnow" type="submit">Save Dependant</button> {% endcomment %}

                                         <div class="inputArea">

                                            {% comment %} <div class="form-row"> {% endcomment %}
                                            {% comment %} <div class="col-md-12"> {% endcomment %}
                                          
                                            <div class="row">
                                                <table class="table">
                                                    <tr><th>Name: {{dependant.first_name}} {{dependant.surname}}</th></tr>
                                                    <tr><th>Date of Birth: {{dependant.dob}}</th></tr>
                                                    <tr><th>Relationship: {{dependant.get_relationship_display}}</th></tr>
                                                </table>
                                            </div>
                                      
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <button class="loginnow" type="submit">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SignUp Area End -->
    

  {% endblock content %}

  {% block extra-js %}
    <script type="text/javascript">
    $('#id_username').addClass('form-control');
    $('#id_username').attr('placeholder', 'Username');

    // glyphicon

    $('#id_password').addClass('form-control');
    $('#id_password').attr('placeholder', 'Password');

    $('.nav-link').removeClass('active')
    $('#profile-nav-link').addClass('active')

    </script>
{% endblock extra-js %}